---
const { frontmatter } = Astro.props;
import Subscribe from "../components/Subscribe.jsx";
import Footer from "../components/Footer.jsx";
---

<body> 
  <div class="flex px-10">
    <div class="w-3/4">
    <h1>Home/{frontmatter.category}/{frontmatter.title}</h1>
    <img src = {frontmatter.image.url } alt = {frontmatter.image.alt}>
    <slot />
  </div>

    <div class="w-1/4">
      <p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
        Categories
      </p>
      <p>
        Categories
      </p><p>
      Categories
    </p><p>
      Categories
    </p><p>
      Categories
    </p><p>
      Categories
    </p><p>
      Categories
    </p><p>
      Categories
    </p><p>
      Categories
    </p><p>
      Categories
    </p><p>
      Categories
    </p><p>
      Categories
    </p>
    <p>
      Related News
    </p>
  </div>

</div>

<Subscribe></Subscribe>
<Footer></Footer>
  </body>